.nav{
    display: flex;
    justify-content: space-between;
}

.userInfo{
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.userBalance{
    display: flex;
}

h3{
    /* margin-left: 15px; */
}